:root {
--bgdark: #034569;
--bglight: #282e3f;
--bglighter: #2f364a;

--fgdark: #00B454;
--fglight: #36DA82;

--accent: #d39ceb;
--border: #2f364a;
--disabled: #696969;
--hover: #ffffff;
}

* {
	font-family: "courier new";
	font-size: 20px;
}

html {
	background: var(--bgdark);
	background-position: top -24px left 0;
	margin-top: -26px;
}

html {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	margin-top: auto;
	display: flex;
	overflow-y: auto;
	flex-flow: row wrap;
	width: 500px;
	position: relative;
	top: -10px;
}

.links {
	padding: 5px 15px;
	width: auto;
	display: block;
	text-align: center;
}

a:visited, a {
	color: var(--fgdark);
	text-decoration: none;
	outline: none;
}

a:not(.tablinks):visited, a:not(.tablinks) {  transition: all 00ms ease 0s; }
a:hover {	color: var(--fglight); }

main {
	flex: 1 1 25%;
	box-sizing: border-box;
}

.title {
	display: none;
}

body {
	position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
